<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1560508180-03f285f67ded?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80);">
  <div class="container">
    <h1>Welcome to <strong>Amanda's</strong> <strong> cocktails App</strong>!</h1>
    <p>Cocktails you can enjoy and offer to your friends.</p>
    <a class="btn btn-flat" href="#">Start Mixing</a>
  </div>
</div>